.home-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  width: 100%;
  height: 60vh;
}

.game {
  padding: 10px 20px;
  display: flex;
  justify-content: center;
  flex-direction: row;
}

.board-panel {
  width: 50%;
  padding-top: 2vmin;
  text-align: center;
}

.score-panel {
  width: 50%;
  padding-top: 2vmin;
  text-align: center;
}

.game-data {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 2vmin;
  background-color:#fabc4f;
  border-radius: 20px;
  border: 1px solid #a95517;
}

.score {
  width: 100%;
  margin-top: 10vmin;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  user-select: none;
}

.score-section {
  width: 100%;
  margin: 2vmin;
}

.moves-panel-outline {
  margin-top: 10vmin;
  user-select: none;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.moves-panel {
  width: 50%;
  font-size: 2.5vmin;
}

.moves-list {
  align-items: baseline;
  display: flex;
  flex-direction: column-reverse;
  justify-content: start;
  background-color: rgb(90, 152, 245);
  max-height: 25vmin;
  overflow-y: auto;
}

.move {
  text-align: left;
}

@media screen and (max-width: 100vmin) {
  .game {
    flex-direction: column;
  }
  .board-panel {
    width: 100%;
    padding-top: 2vmin;
    text-align: center;
  }

  .score-panel {
    width: 100%;
    padding-top: 2vmin;
    text-align: center;
  }

  .moves-panel {
    width: 100%;
    font-size: 15px;
  }  
}

.outline-1 {
  width: 93vmin;
  height: 93vmin;
  background-color: black;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.outline-2 {
  width: 93vmin;
  height: 88vmin;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.board {
  width: 80vmin;
  height: 80vmin;
  justify-content: center;
  align-items: center;
}

.rank-list {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.ranks {
  color: white;
  font-size: 4vmin;
  user-select: none;
  text-align: center;
  margin: 2vmin;
}

.file-list {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.files {
  color: white;
  font-size: 4vmin;
  user-select: none;
  text-align: center;
  margin-left: 4vmin;
  margin-right: 4vmin;
}

.white {
  width: 10vmin;
  height: 10vmin;
  float: left;
  font-size: 8vmin;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fabc4f;
  user-select: none;
}

.white:hover {
  background-color: #cd963f;
}

.black {
  width: 10vmin;
  height: 10vmin;
  float: left;
  font-size: 8vmin;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #a95517;
  user-select: none;
}

.black:hover {
  background-color: #895517;
}

.selected {
  width: 10vmin;
  height: 10vmin;
  float: left;
  font-size: 8vmin;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(200, 255, 47);
  user-select: none;
  border: 1px solid rgb(80, 177, 1);
}

.check {
  width: 10vmin;
  height: 10vmin;
  float: left;
  font-size: 8vmin;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(240, 53, 53);
  user-select: none;
}

.white-piece {
  background-color: transparent;
  border: none;
  color: white;
  padding: 0;
  height: 10vmin;
  width: 10vmin;
  display: flex;
  justify-content: center;
  align-items: center;
}

.black-piece {
  background-color: transparent;
  border: none;
  color: black;
  padding: 0;
  height: 10vmin;
  width: 10vmin;
  display: flex;
  justify-content: center;
  align-items: center;
}

.empty-cell {
  background-color: transparent;
  border: none;
  padding: 0;
  height: 10vmin;
  width: 10vmin;
  display: flex;
  justify-content: center;
  align-items: center;
}
