.home-container {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
  height: 100%;
}

.meta {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

ul {
  padding-left: 20px;
}

.game-input {
  text-align: center;
  width: 500px;
  margin-top: 10vh;
  user-select: none;
  font-size: 20px;
}

.instructions {
  margin-top: 20vh;
  width: 80vw;  
  max-width: 550px;
  user-select: none;
  font-size: 20px;
}

@media screen and (max-width: 1200px) {
  .home-container {
    flex-direction: column;
  }
  .instructions {
    margin-top: 5vmin;
  }
}

@media screen and (max-width: 550px) {
  .instructions {
    font-size: 15px;
    max-width: 80vw;
    margin-top: 5vmin;
  }
  .game-input {
    width: 80vw;
    font-size: 15px;
  }
}

.outline-1 {
  background-color: black;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.outline-2 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.board {
  width: 80vmin;
  height: 80vmin;
  justify-content: center;
  align-items: center;
}

.rank-list {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.ranks {
  color: white;
  font-size: 4vmin;
  user-select: none;
  text-align: center;
  margin: 2vmin;
}

.file-list {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.files {
  color: white;
  font-size: 4vmin;
  user-select: none;
  text-align: center;
  margin-left: 4vmin;
  margin-right: 4vmin;
}

.white {
  width: 10vmin;
  height: 10vmin;
  float: left;
  font-size: 8vmin;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fabc4f;
  user-select: none;
}

.white:hover {
  background-color: #cd963f;
}

.black {
  width: 10vmin;
  height: 10vmin;
  float: left;
  font-size: 8vmin;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #a95517;
  user-select: none;
}

.black:hover {
  background-color: #895517;
}

.selected {
  width: 10vmin;
  height: 10vmin;
  float: left;
  font-size: 8vmin;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(200, 255, 47);
  user-select: none;
  border: 1px solid rgb(80, 177, 1);
}

.check {
  width: 10vmin;
  height: 10vmin;
  float: left;
  font-size: 8vmin;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(240, 53, 53);
  user-select: none;
}

.white-piece {
  background-color: transparent;
  border: none;
  color: white;
  padding: 0;
  height: 10vmin;
  width: 10vmin;
  display: flex;
  justify-content: center;
  align-items: center;
}

.black-piece {
  background-color: transparent;
  border: none;
  color: black;
  padding: 0;
  height: 10vmin;
  width: 10vmin;
  display: flex;
  justify-content: center;
  align-items: center;
}

.empty-cell {
  background-color: transparent;
  border: none;
  padding: 0;
  height: 10vmin;
  width: 10vmin;
  display: flex;
  justify-content: center;
  align-items: center;
}

.game {
  padding: 10px 20px;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
}

.board-panel {
  padding: 2vmin;
  text-align: center;
}

.score-panel {
  padding: 2vmin;
  text-align: center;
  width: 100%;
}

.game-data {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 2vmin;
  background-color:#fabc4f;
  border-radius: 10px;
  border: 1px solid #a95517;
  max-height: 80vmin;
}

.score {
  width: 100%;
  margin-top: 10vmin;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  user-select: none;
}

.score-section {
  width: 30vmin;
  font-size: 20px;
}

.game-meta-data {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.moves-panel-outline {
  margin-top: 10vmin;
  user-select: none;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.moves-panel {
  width: 100%;
  font-size: 2.5vmin;
  height: fit-content;
}

/* column-reverse is not supported on Edge/IE/Firefox */
.moves-list {
  align-items: baseline;
  display: flex;
  flex-direction: column-reverse;
  justify-content: start;
  max-height: 30vmin;
  overflow-y: scroll;
}

.moves-list .odd {
  padding-left: 10px;
  margin-bottom: 0;
  width: 100%;
  text-align: left;
  background-color: #26211b;
  color: white;
}

.moves-list .even {
  padding-left: 10px;
  margin-bottom: 0;
  width: 100%;
  text-align: left;
  background-color: #36312b;
  color: white;
}

.move {
  text-align: left;
}

@media screen and (max-width: 1200px) {
  .game {
    flex-direction: column;
    justify-content: space-between;
  }

  .game-data {
    max-height: none;
  }

  .board-panel {
    width: 100%;
    padding: 2vmin;
    text-align: center;
    display: flex;
    justify-content: center;
  }

  .score-panel {
    width: 100%;
    padding: 2vmin;
    text-align: center;
    max-height: 100%;
  }

  .moves-panel {
    width: 100%;
    font-size: 4vmin;
  }  

  .score-section {
    font-size: 4vmin;
  }

  .game-end-buttons .btn {
    font-size: 4vmin;
  }
}

.timer {
  width: 100%;
  background-color: #36312b;
  color: white;
  font-size: 20px;
}

.game-end-buttons {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin-top: 20px;
  padding: 10px;
  font-size: 20px;
}

.currentTurn {
  font-size: 30px;
}

@media screen and (max-width: 1000px) {
  .currentTurn {
    font-size: 15px;
  }
}