.home-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  width: 100%;
  height: 60vh;
}

.game {
  padding: 10px 20px;
}

.panel {
  float: left;
  width: 50%;
  padding-top: 2vmin;
  text-align: center;
}

@media screen and (max-width: 100vmin) {
  .panel {
    width: 100%;
  }
}

.outline-1 {
  width: 93vmin;
  height: 93vmin;
  background-color: black;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.outline-2 {
  width: 93vmin;
  height: 88vmin;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.board {
  width: 80vmin;
  height: 80vmin;
  justify-content: center;
  align-items: center;
}

.rank-list {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.ranks {
  color: white;
  font-size: 4vmin;
  user-select: none;
  text-align: center;
  margin: 2vmin;
}

.file-list {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.files {
  color: white;
  font-size: 4vmin;
  user-select: none;
  text-align: center;
  margin-left: 4vmin;
  margin-right: 4vmin;
}

.white {
  width: 10vmin;
  height: 10vmin;
  float: left;
  font-size: 8vmin;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fabc4f;
  user-select: none;
}

.white:hover {
  background-color: #cd963f;
}

.black {
  width: 10vmin;
  height: 10vmin;
  float: left;
  font-size: 8vmin;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #a95517;
  user-select: none;
}

.black:hover {
  background-color: #895517;
}

.white-piece {
  background-color: transparent;
  border: none;
  color: white;
  padding: 0;
  height: 10vmin;
  width: 10vmin;
  display: flex;
  justify-content: center;
  align-items: center;
}

.black-piece {
  background-color: transparent;
  border: none;
  color: black;
  padding: 0;
  height: 10vmin;
  width: 10vmin;
  display: flex;
  justify-content: center;
  align-items: center;
}

.empty-cell {
  background-color: transparent;
  border: none;
  padding: 0;
  height: 10vmin;
  width: 10vmin;
  display: flex;
  justify-content: center;
  align-items: center;
}
